<ion-grid class="ion-no-padding" *ngIf="product">
  <ion-row>
    <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ product.title }}</ion-card-title>
          <ion-card-subtitle
            >{{ product.price | currency }} / Night</ion-card-subtitle
          >
        </ion-card-header>
        <ion-img
          [src]="product.imageUrl"
          (ionError)="$event.target.src = 'assets/images/no-image-found.png'"
        ></ion-img>
        <ion-card-content>
          <p class="ion-text-left">{{ product.description | limitTo: 100 }}</p>
        </ion-card-content>
        <div class="ion-text-right">
          <ion-button
            fill="clear"
            color="primary"
            routerDirection="backward"
            [routerLink]="['./', product.id]"
            >More</ion-button
          >
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
