<app-header>
  <div>
    <app-image-picker
      #imagePicker
      (selectedDataImage)="onSelectedImage($event)"
    ></app-image-picker>
  </div>
</app-header>

<ion-content>
  <app-searchbar-list [items$]="products$"></app-searchbar-list>

  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <section>
          <h1>What is the Wiki Web Store?</h1>
          <div>
            <p>
              It is a collections of plants and flowers that gives the user
              information how to take care of indoor and outdoor plants, getting
              them enough water and sunlight every day. You can search / filter
              and even take a picture of a specific plant and our 'magic' will
              find the correct plant for you.
            </p>
          </div>

          <div class="search-btn">
            <ion-button
              (click)="imagePicker.onOpenCamera()"
              expand="block"
              fill="outline"
            >
              <ion-thumbnail slot="start">
                <ion-img src="assets/images/camera.png"></ion-img>
              </ion-thumbnail>
              Search By Camera</ion-button
            >
          </div>
        </section>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
